name: openMINDS_Python_test_pipeline

on:
  pull_request:
      branches:
        - pipeline

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Run build
      run: |
        pip install -r requirements.txt
        python build.py

    - name: Test built package
      run: |
        pip install pytest pytest-cov
        pip install ./target
        pytest -v --cov=openminds --cov-report term pipeline/tests
